.createUser {
    display: grid;
    row-gap: 5px;
    box-shadow: 0px 5px 5px rgb(112, 112, 112);
    border-radius: 20px;
    width: 400px;
    margin: 120px auto 100px auto;
    padding: 0;
    background-color: white;
}

.createUser > .header{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgb(0, 161, 0);
    text-align: center;
    padding: 40px 0px;
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

.createUser input {
    width: 300px;
    margin: auto;
    margin-bottom: 5px;
}

.createUser > .password {
    margin: auto;
}


.createUser > button {
    width: 340px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

.createUser > .lastPartName {
    margin-top: 30px;
    text-align: center;
    opacity: 0.4;
    font-size: 16px;
}

.createUser > .lastPart {
    margin-bottom: 40px;
    text-align: center;
}

.createUser > .lastPart a{
    color: green;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.createUser .nameInput {

    padding: 0;
    margin: 0;
    margin-left: 35px;
    font-size: 18px;
    color: black;
}

.createUser > .error{
    color: rgb(197, 0, 0);
    text-align: center;
    opacity: 0;
    animation-duration: 2s;
    animation-name: errorAnimation;
    width: 300px;
    margin: auto;
    padding: 20px 0px;

}

.createUser > .result-text{
    text-align: center; 
    margin: 50px 20px 100px 25px;
}

.createUser .main-text {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    color: green;
    text-transform: uppercase;
}

.createUser .second-text {
    font-size: 18px;
}


.createUser > .loading-text {
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.createUser > .loader{
    margin: auto;
    margin-bottom: 40px;   
}
 
.createUser .select-create{
    width: 350px;
    margin: auto;
}


@keyframes errorAnimation {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
    }
}



@media only screen and (min-width: 340px) and (max-width: 410px){
    .createUser {
        width: 300px;
    }
    
    .createUser > .header{
        font-size: 28px;
    }
    
    .createUser input {
        width: 150px;
    }
    .createUser input:focus {
        width: 200px;
    }
    .createUser > button {
        width: 180px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .createUser .nameInput {
        margin-left: 55px;
    }
    .createUser .password svg{
        margin-left: 170px;
    }
    .createUser > .error{
        width: 250px;
    }
    .createUser .select-create{
        width: 200px;
        margin: auto;
    }
}

@media only screen and (max-width: 340px){
    .createUser {
        width: 200px;
    }
    
    .createUser > .header{
        font-size: 24px;
    }
    
    .createUser input {
        width: 100px;
    }
    .createUser input:focus {
        width: 120px;
    }
    .createUser > button {
        width: 180px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .createUser .nameInput {
        margin-left: 35px;
    }
    .createUser .password svg{
        margin-left: 120px;
    }
    .createUser > .error{
        width: 200px;
    }
    .createUser .select-create{
        width:  160px;
        margin: auto;
    }
}


  